.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/**
TODO: (this is CSS learning rather than React....)
Describe the summary of this CSS class, especially:
- min-height: 100vh: ensures full screen height for the element to which this
              rule has been
- display: flex
- flex-direction
- align-items
- justify-content
- vmin, vmax: http://thenewcode.com/1137/MinMaxing-Understanding-vMin-and-vMax-in-CSS
*/
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
