/* original url: https://browser-nativefs.glitch.me/style.css retrived 30jun20
 */
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 100%;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-block: 1rem;
}

code {
  font-family: courier;
  font-size: 1rem;
}
